# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Jittor / Training outputs
logs/
checkpoints/
assets/test_predictions/
*.pt
*.pth
*.pkl
*.npy
*.tar
# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# report
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.pdf

# others
/docs
/Data_all
/runs
/test_maps